In [20]:
import pandas as pd

from inputs_data import inputs

# Vstupne udaje

In [21]:
df = pd.DataFrame.from_dict(inputs, orient="index")
df

                     od  t_nom  p_op  temp_op material
membranova-stena     57      5    10      315    12022
strop-ohniska        57      5    10      315    12022
strop-medzitahu      57      5    10      305    12022
zadna-stena-2-tah    57      5    10      260    12022
p-l-stena-2-tah      57      5    10      260    12022
vystupny-prehrievac  57      5    10      525    15128
salavy-prehrievac    57      5    10      480    15128
mreza                57      5    10      325    12022

In [22]:
import forallpeople as si
import pint

ureg = pint.UnitRegistry()
Q_ = ureg.Quantity
from handcalcs import render

In [23]:
si.environment("default", top_level=True)

In [46]:
a = 5 * ureg.m
print("{:~}".format(a))

5 m

In [24]:
%%render
T = [10 * si.K, 20 * si.K]
TT = [10 * ureg.cm, 20 * ureg.MPa]

In [25]:
T[0]

10.000 °C

In [26]:
%%render
temp = T[0] / T[1]

In [27]:
import numpy as np

a = np.array([10, 20, 30]) * si.K
a

array([10.000 °C, 20.000 °C, 30.000 °C], dtype=object)

In [28]:
x = 0
for i in a:
    x += 1
    print(f"a{x} = {i}")

a1 = 10.000 °C
a2 = 20.000 °C
a3 = 30.000 °C

In [29]:
import forallpeople as si
from handcalcs import render

si.environment("default", top_level=True)

from math import ceil as Arredondar
from math import fabs as Absoluto
from math import sqrt

import numpy as np
import pandas as pd
import sympy as sp
from numpy import arctan, e
from numpy import log as ln
from numpy import pi, sin

mm = 1e-3 * si.m

In [30]:
%%render
# short

h_i = 15 * mm

h_f = 5 * mm
b = 15 * mm

phi_h_total = ln(h_f / h_i)

In [31]:
si.environment("structural")
si.environment()

{'mm': 1.000 mm, 'ft': 1.000 ft, 'inch': 1.000 inch, 'N': 1.000 N, 'kN': 1.000 kN, 'MN': 1.000 MN, 'Pa': 1.000 Pa, 'kPa': 1.000 kPa, 'MPa': 1.000 MPa, 'GPa': 1.000 GPa, 'Nm': 1.000 N·m, 'N_m': 1.000 N/m, 'lbft': 1.000 lb·ft, 'kipft': 1.000 kip·ft, 'psf': 1.000 psf, 'lbin': 1.000 lb·in, 'kipin': 1.000 kip·in, 'ksf': 1.000 ksf, 'lb': 1.000 lb, 'lb_ft': 1.000 lb/ft, 'kip_ft': 1.000 kip/ft, 'kip': 1.000 kip, 'lbm': 1.000 lbm, 'psi': 1.000 psi, 'ksi': 1.000 ksi, 'pcf': 1.000 pcf, 'kcf': 1.000 kcf, 'pci': 1.000 pci, 'kci': 1.000 kcf, 'N_m3': 1.000 N/m³, 'Nm2': 1.000 N·m², 'lbft2': 1.000 lb·ft², 'kft2': 1.000 kip·ft², 'J': 1.000 N·m, 'MJ': 1.000 MN·m, 'W': 1.000 W}
 {'kg': 1.000 kg, 'm': 1.000 m, 's': 1.000 s, 'A': 1.000 A, 'cd': 1.000 cd, 'K': 1.000 K, 'mol': 1.000 mol}

In [32]:
%%render
# short
a = 15 * si.MPa

In [33]:
import sympy.physics.units as u

In [34]:
%%render
a = 5 * u.K
a

In [35]:
u.find_unit("temperature")

['K', 'kelvin', 'kelvins', 'planck_temperature']

In [36]:
u.convert_to(5000 * u.pa, u.kPa)

5*kilopascal

In [37]:
u.convert_to(5000 * u.mm, u.m)

5*meter